# Создано https://www.toptal.com/developers/gitignore/api/phpstorm
# Редактировать по адресу https://www.toptal.com/developers/gitignore?templates=phpstorm

### PhpStorm ###
# Охватывает IDE JetBrains: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm и Rider
# Ссылка: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Пользовательские вещи
.идея /**/workspace.xml
.идея/**/tasks.xml
.идея/**/usage.statistics.xml
.idea/**/словари
.idea/**/полка

# AWS User-specific
.idea/**/aws.xml

# Сгенерированные файлы
.idea/**/contentModel.xml

# Чувствительные или файлы с высоким оттоком
.idea/**/Источники данных/
.idea/**/DataSources.ids
.idea/**/dataSources.local.xml
.идея/**/sqlDataSources.xml
.идея/**/dynamic.xml
.идея/**/uiDesigner.xml
.идея/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/библиотеки

# Gradle и Maven с автоматическим импортом
# При использовании Gradle или Maven с автоматическим импортом следует исключить файлы модулей,
# так как они будут воссозданы заново и могут вызвать отток. Раскомментируйте, если используете
# автоматический импорт.
# .идея/ артефакты
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/модули
# *.iml
# *.пис

# CMake
cmake-сборка-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# Файловый формат проекта
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Плагин JIRA
atlassian-ide-plugin.xml

# Курсивный плагин Clojure
.idea/replstate.xml

# SonarLint plugin
.idea/sonarlint/

# Crashlytics плагин (для Android Studio и IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Редактор Rest Client
.idea/HttpRequests

# Android studio 3.1+ сериализованный файл кэша
.idea/caches/build_file_checksums.ser

### Патч PhpStorm ###
# Комментарий Причина: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.пис

# Плагин Sonarlint
# https://plugins.jetbrains.com/plugin/7973-sonarlint
.идея/**/sonarlint/

# Плагин SonarQube
# https://plugins.jetbrains.com/plugin/7238-sonarqube-community-plugin
.идея/**/sonarIssues.xml

# Плагин Markdown Navigator
# https://plugins.jetbrains.com/plugin/7896-markdown-navigator-enhanced
.идея/**/markdown-navigator.xml
.идея/**/markdown-navigator-enh.xml
.idea/**/markdown-навигатор/

# Ошибка создания файла кэша
# См .
https://youtrack.jetbrains.com/issue/JBR-2257 .idea/$CACHE_FILE$

# Плагин CodeStream
# https://plugins.jetbrains.com/plugin/12206-codestream
.idea/codestream.xml

# Конец https://www.toptal.com/developers/gitignore/api/phpstorm